
body{
  background: #000;
  color: #fff;
}

.fxed-top{
  position: fixed;
  z-index: 10;
  top: 0px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  backdrop-filter: saturate(180%) blur(5px);
  width: 100%;

 .nav-group{

   .search{
    padding: 10px 30px;
    background: rgba(0,0,0,0.5);
    border: 2px solid #000;
    width: 100%;
    width: 350px;
    border-radius: 50px;
    color: #fff;
    outline: none;
    transition: 0.3s;

    &:focus{
      border: 2px solid rgb(55, 212, 218);
    }

  }
 }
}

.App{
}

.content-body{
  padding: 100px 150px;
}

.mist-card{
  border: 0.5px solid #333;
  border-radius: 5px;
  padding: 10px 20px;

  P{
    color: rgb(119, 114, 114);
  }

  small{
    color: rgb(55, 212, 218);
  }
}

.file-list-wrapper{
  display: flex;
  flex-direction: column;

  .file-item{
    display: flex;
    justify-content: space-between;

    img {

      $img: 30px;

      width: $img;
      height: $img;
      object-fit: cover;
    }

    padding: 10px;
    border-bottom: 0.5px solid #333;
  }
}

